.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.content {
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background: "#f4f5f6";
    box-shadow: 4px 7px 24px -3px rgba(0,0,0,0.1),10px 0px 15px 4px rgba(0,0,0,0.1);
    /* margin-top: 250px; */
  }

  .all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .btn {
    color: purple;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid purple;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }